<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../public/css/styles.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link href=" https://cdn.jsdelivr.net/npm/modern-normalize@3.0.1/modern-normalize.min.css " rel="stylesheet">
    <script src="../public/js/index.js"></script>
    <link rel="stylesheet" href="node_modules/modern-normalize/modern-normalize.css">

    <title>Radio La Porteña</title>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <!-- Toggle Button (Hamburguesa) -->
                <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#sidebar" aria-controls="sidebar" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <!-- Logo Multimedios -->
                <div class="logomultimedios">
                    <i></i>
                </div>

                

                <!-- Logo Radio -->
                <div class="logoradio">
                    <i></i>
                </div>

                <!-- Navbar Links (Oculto en móviles) -->
                <div class="collapse navbar-collapse">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0 leftNavList">
                        <li class="nav-item"><a class="nav-link" href="#">Contactanos</a></li>
                        <li class="nav-item"><a class="nav-link" href="#">Tutorial</a></li>
                    </ul>
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0 rightNavList">
                        <li class="nav-item"><a class="nav-link" href="#">Nosotros</a></li>
                        <li class="nav-item"><a class="nav-link" href="#">Programas</a></li>
                    </ul>
                </div>
            </div>
        </nav>

        <!-- Sidebar (Offcanvas) -->
        <div class="offcanvas offcanvas-start" tabindex="-1" id="sidebar" aria-labelledby="sidebarLabel">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="sidebarLabel">Menú</h5>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <!-- Lista 1 -->
                <ul class="leftNavList">
                    <li><a href="#">Contactanos</a></li>
                    <li><a href="#">Tutorial</a></li>
                </ul>
                <!-- Lista 2 -->
                <ul class="rightNavList">
                    <li><a href="#">Nosotros</a></li>
                    <li><a href="#">Programas</a></li>
                </ul>
            </div>
        </div>
    </header>

    <div class="separador"></div>

    <div class="tour">
        <img src="../public/images/imagen.jpg" id="tourCarrusel" alt="Imagen Carrusel">
    </div>

    <div class="separador2"></div>


    <div class="envivo-button">
        <a href="">escuchanos en vivo</a>
        <div class="pauseplay">
            <button class="music-button play">
                <i class="pause"></i>
            </button>
            <button class="music-button pause">
                <i class="play"></i>
            </button>
        </div>
    </div>

    <section class="programas-section">
        <h2>Conoce nuestra programacion:</h2>

        <div >
            <ul class="programas-container">
                <li>
                    <div class="programas">
                        <img src="" alt="">
                        <h3>Esta boca es mía</h3>
                        <p></p>
                    </div>
                </li>   
                <li>
                    <div class="programas">
                        <img src="" alt="">
                        <h3>Alma Criolla</h3>
                        <p></p>
                    </div>
                </li>   
                <li>
                    <div class="programas">
                        <img src="" alt="">
                        <h3>Dinamica Cultural</h3>
                        <p></p>
                    </div>
                </li>   
                <li>
                    <div class="programas">
                        <img src="" alt="">
                        <h3>Cataclismo</h3>
                        <p></p>
                    </div>
                </li>   
                <li>
                    <div class="programas">
                        <img src="" alt="">
                        <h3>¿Que escuchas?</h3>
                        <p></p>
                    </div>
                </li>   
                <li>
                    <div class="programas">
                        <img src="" alt="">
                        <h3>Tranquera Abierta</h3>
                        <p></p>
                    </div>
                </li>   
                <li>
                    <div class="programas">
                        <img src="" alt="">
                        <h3>Sabados del Recuerdo</h3>
                        <p></p>
                    </div>
                </li>   
            </ul>
        </div>
    </section>

    <section class="historiaRadio">
        <div>
            <img src=""class="imgHenderson" alt="">
           
            <div class="historiaRadioText">
                <h2>Historia de Radio "La Porteña FM Henderson"</h2>
                <p class="historiaRadioParagraph">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aspernatur accusantium ea quod laborum voluptatibus molestiae amet quos ut vero repellendus sequi, tempore est officia sunt eos labore placeat, esse laboriosam?</p>
                <p class="historiaRadioParagraph">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aspernatur accusantium ea quod laborum voluptatibus molestiae amet quos ut vero repellendus sequi, tempore est officia sunt eos labore placeat, esse laboriosam?</p>
            </div>
            
        </div>
    </section>

    <section class="articulos">
        <div class="container articulos-container">

            <h3>Articulos Destacados:</h3>
            <ul class="col-10">
                <li class="col-3 articulo">

                </li>
                <li class="col-3  articulo">

                </li>
                <li class="col-3  articulo">

                </li>
                <li class="col-3  articulo">

                </li>
                <li class="col-3 articulo">

                </li>
                <li class="col-3  articulo">

                </li>
                <li class="col-3  articulo">

                </li>
                <li class="col-3  articulo">

                </li>
            </ul>
            <a href="">Ver todos...</a>
        </div>
    </section>

    <section class="tutorial">
        <div>
            <h2>¿Sabias que podes vernos en vivo?</h2>
            <p>acá esta el como</p>
            <video src=""></video>
        </div>
    </section>

    <section class="contacto">           
        <h2>Ponete en contacto:</h2>

        <div class="form-container ">
      
            <div class="contact-form ">
                 <form  class="contactform contact_form " id="contact_form">
                    
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <input name="name" id="fullName" type="text" placeholder="Full Name (Not requiered)" class="form-control"> 
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <input id="email" name="email" type="text" placeholder="Email Address" class="form-control" requiered>  
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group">
                                <input id="subject" name="subject" type="text" placeholder="Subject" class="form-control" requiered> 
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <textarea id="message" name="message" placeholder="Message" class="form-control" rows="3" requiered></textarea> 
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="send">
                                <button id="send_message" class="btn" type="button"><span>Contact Me</span></button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
          
        </div>
    </section>

    <footer>
        
        <ul class="leftFootList">
            <li><a href="">Contactanos</a></li>
            <li><a href="">Tutorial</a></li>
        </ul>
        <div class="logomultimedios">
            <i></i>
        </div>
        
        <div class="logoradio">
            <i></i>
        </div>
        <ul class="rightFootList">
            <li><a href="">Nosotros</a></li>
            <li><a href="">Programas</a></li>
        </ul>
    </footer>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>